<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5434/user_service_db</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgres</property>

        <!-- Dialect used -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Enable Hibernate's automatic schema generation -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Logging options -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!-- Mapping files -->
        <mapping class="ru.saruat.entity.User"/>
    </session-factory>
</hibernate-configuration>